/* ? CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ? Utils */

/* !color */

.color-black{
    color: black;
}

.color-white{
    color: white;
}
/* !background */

.bgc-header{
    background-color: #255EE9;
    padding: 20px;
}

.background-spotlight{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 50px 0; 
}

.background-white{
    background-color: white;
    padding: 50px;
}

.background_black{

    background-color: black;
}

.background-grey{
    background-color: #D3D3D3;
    padding: 50px;
}

.background-lightblack{
    background-color: #23272A;
    padding-top: 15px;
    padding-bottom: 50px;

}

.background_bigger_box.bigger_box{
    background-color: #228B22;
}

.background_social_box.social_box{
    background-color: #F08080;
}

.background_info_box.info_box{
    background-color: #20B2AA;
}

.background_footer_box.footer_box{
    background-color: #7FFFD4;
}

.background_end{
    background-color: #FFB6C1;
}

/* ! conteiner */

.container-nav{
    max-width: 840px;
    margin: 0 auto;
}
.container-large{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.container-spotlight{
    display: flex;
    max-width: 720px;
    margin: 0 auto;
}
.container-bigger{
    display: flex;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/*  ! font */

.font-navigation{
    font-size: 14px;
}

.title{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.mini-title{

    margin-bottom: 20px;
    font-size: 40px;
}

p{
    font-size: 20px;
    margin-bottom: 20px;
}
.font-spotlight{
    font-size: 220px;
}

/* ! button */

.button-radius{
    border-radius: 28px;
    padding: 8px 16px;
    border: transparent;
}

/* ? Generics */

.flex{
    display: flex;
}

.border{
    border: 1px dashed;
}

.border-bottom{
    border-bottom: 1px solid blue;
}

ul{
    list-style-type: none;
    flex-basis: 100%;
    justify-content: center;
    gap: 20px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* Header */

.logo{
    flex-basis: 20%;
}

.navigation{
    flex-basis: 60%;
    align-items: center;
}


.login{
    flex-basis: 20%;
    justify-content: flex-end;
}

.spotlight{
    flex-basis: 100%;
    text-align: center;
}

/* Main */

.big-box{
    flex-basis: 60%;
}

.small-box{
    flex-basis: 40%;
    padding: 40px;
}

.bigger-box{
    flex-basis: 100%;
}

/* Footer */

.social_box{
    flex-basis: 30%;
}

.info_box{
    flex-basis: 70%;
    border: 1px dashed;
    display: flex;
}

.smaller_box{
    flex-basis: 25%;
    border: 1px dashed white;
}

.footer_box{
    height: 100px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end_logo{
    height: 50px;
    width: 100px;
    border: 1px dashed;
}

.end_button{
    height: 50px;
    width: 100px;
    border: 1px dashed;
}

.title-list{
    color: #255EE9;
    margin-bottom: 20px;
}